<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="dns-prefetch" href="https://cdn.toolkit.illinois.edu">
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="https://cdn.toolkit.illinois.edu/2.16/toolkit.css" media="all">
    <script src="https://cdn.toolkit.illinois.edu/2.16/toolkit.js"></script>
    <title>@ViewData["Title"] | TQII Language Test | UIUC</title>
    <link rel="stylesheet" href="~/css/site.css" media="all">
</head>
<body>
    <header>
    </header>
    <main class="il-formatted">
        @RenderBody()
    </main>
    <footer>
    </footer>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>