<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="dns-prefetch" href="https://cdn.toolkit.illinois.edu">
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="https://cdn.toolkit.illinois.edu/2.16/toolkit.css" media="all">
    <script src="https://cdn.toolkit.illinois.edu/2.16/toolkit.js"></script>
    <title>@ViewData["Title"] | TQII Language Test | UIUC</title>
    <link rel="stylesheet" href="~/css/site.css?cache=1" media="all">
</head>
<body>
    <header>
        <il-header>
            <div slot="wordmark">
                <il-unit-wordmark>
                    <h1><a href="/">Training Qualified Interpreters (TQII) Language Test</a></h1>
                </il-unit-wordmark>
            </div>
            <nav slot="links" aria-label="top right quick links" class="il-links">
                <ul>
                    <li>@(Html.Raw(User.Identity.Name ?? "<a href='/Identity/Account/Login'>Login</a>"))</li>
                    <li><a href="https://tqii.education.illinois.edu">Home Page</a></li>
                    <li><a href="/Identity/Account/Logout">Sign out</a></li>
                </ul>
            </nav>
            <div slot="search">
                
            </div>
        </il-header>
    </header>
    <main class="il-formatted">
        @RenderBody()
    </main>
    <footer>
    </footer>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>