@page
@model TqiiLanguageTest.Pages.Admin.CreateRaterModel
@{
    Layout = "_Admin";
    ViewData["Title"] = "Rater";
}

<h1>Raters</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Raters)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post">
    <div class="ils-input-entry form-group">
        <label for="NewRaterName" class="control-label">Rater Email</label>
        <input asp-for="NewRaterName" class="form-control" style="width: 100%;" />
    </div>
    <div class="ils-input-entry form-group">
        <input type="submit" value="Create" class="il-button" />
    </div>
</form>


<div>
    <a href="/Admin">Back to Admin Page</a>
</div>

