@page
@model TqiiLanguageTest.Pages.Admin.CreateTestUserModel

@{
    Layout = "_Admin";
    ViewData["Title"] = "Create Test User";
}

<h1>Create Test User</h1>

<p>For email, you may add multiple emails separated by a comma (",").</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="ils-input-entry form-group">
                <label for="TestUser_Email" class="control-label">Email List</label>
                <input asp-for="TestUser.Email" class="form-control" style="width: 100%;" />
                <span asp-validation-for="TestUser.Email" class="text-danger"></span>
            </div>
            <div class="ils-input-entry form-group">
                <label for="TestUser_OrderBy" class="control-label">Order Number</label>
                <input asp-for="TestUser.OrderBy" class="form-control" />
                <span asp-validation-for="TestUser.OrderBy" class="text-danger"></span>
            </div>
            <div class="ils-input-entry form-group">
                <label for="TestUser_DateTimeScheduled" class="control-label">Scheduled For: </label>
                <input asp-for="TestUser.DateTimeScheduled" class="form-control" />
            </div>
            <div class="ils-input-entry form-group">
                <label for="TestUser_TestId" class="control-label">Test (required):</label>
                <select asp-for="TestUser.TestId" class="form-control" asp-items="ViewBag.TestId"></select>
            </div>
            <div class="ils-input-entry form-group">
                <label for="TestId2" class="control-label">Second Test (optional): </label>
                <select asp-for="TestId2" class="form-control" asp-items="ViewBag.TestIdOptional"></select>
            </div>
            <div class="ils-input-entry form-group">
                <label for="TestId3" class="control-label">Third Test (optional): </label>
                <select asp-for="TestId3" class="form-control" asp-items="ViewBag.TestIdOptional"></select>
            </div>
            <div class="ils-input-entry form-group">
                <label for="TestId4" class="control-label">Fourth Test (optional): </label>
                <select asp-for="TestId4" class="form-control" asp-items="ViewBag.TestIdOptional"></select>
            </div>
            <div class="ils-input-entry form-group">
                <input type="submit" value="Create" class="il-button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Admin">Back to Admin Page</a>
</div>
