@page
@model TqiiLanguageTest.Pages.Admin.CreateTestModel

@{
    ViewData["Title"] = "CreateTest";
}

<h1>CreateTest</h1>

<h4>Test</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Test.NumberQuestions" class="control-label"></label>
                <input asp-for="Test.NumberQuestions" class="form-control" />
                <span asp-validation-for="Test.NumberQuestions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Test.Title" class="control-label"></label>
                <input asp-for="Test.Title" class="form-control" />
                <span asp-validation-for="Test.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

