@page
@model TqiiLanguageTest.Pages.Admin.CreateQuestionModel

@{
    Layout = "_Admin";
    ViewData["Title"] = "Create Question";
}

<h1>Create Question</h1>

<form method="post">
    <h2>General Information</h2>
    <div class="form-group ils-input-entry">
        <input name="Question.Language" type="hidden" value="@Model.Question.Language">
        <input name="Question.TestId" type="hidden" value="@Model.Question.TestId">
        <input type="hidden" asp-for="Question.Id" class="form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_Title" class="control-label">Title (for internal use, leave blank to delete question)</label>
        <input asp-for="Question.Title" class="form-control" />
        <span asp-validation-for="Question.Title" class="text-danger"></span>
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_OrderBy" class="control-label">Order By (numeric)</label>
        <input asp-for="Question.OrderBy" class="form-control" />
        <span asp-validation-for="Question.OrderBy" class="text-danger"></span>
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_QuestionType" class="control-label">Question Type</label>
        <select asp-for="Question.QuestionType" class="form-control" style="width: 300px;">
            <option value="0"></option>
            <option value="5">Instructions</option>
            <option value="1">Sentence Repetition</option>
            <option value="2">Integrated Speaking</option>
            <option value="3">Interactive Reading</option>
            <option value="4">Basic Question / Answer</option>
        </select>
    </div>
    <hr />
    <h3>Introduction (for Sentence Repetition, Integrated Speaking, and Instruction Only)</h3>
    <div class="ils-input-entry form-group">
        <label for="Question_IntroductionText" class="control-label">Introduction Text</label>
        <textarea asp-for="Question.IntroductionText" class="ils-input-long form-control"></textarea>
    </div>
    <div>An introduction is unlimited unless seconds are added in the <strong>Multiple Choice and/or Reflection</strong> section.</div>

    @if (Model.Question.HasAudio)
    {
    <audio controls>
        <source src="/Media/@Model.Question.Guid" type="audio/ogg">
        Your browser does not support the audio element.
    </audio>
    }
    @if (Model.Question.HasIntroductionImage)
    {
        <div>
            <img src="/Image/Introduction/@Model.Question.Guid" alt="">
        </div>
    }
    <div>Images and audio clips are handled in the upload section</div>
    <hr />
    <h3>Multiple Choice and/or Reflection (for Sentence Repetition and Integrated Speaking)</h3>
    <div class="ils-input-entry form-group">
        <label for="Question_QuestionText" class="control-label">Question or Reflection Text</label>
        <input asp-for="Question.QuestionText" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_SentenceRepetionText" class="control-label">Sentence Repetition Text for Raters</label>
        <input asp-for="Question.SentenceRepetionText" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_AnswerOptions" class="control-label">Answers (separate multiple answers by a "|" symbol)</label>
        <input asp-for="Question.AnswerOptions" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_DurationAnswerInSeconds" class="control-label">Duration of Question or Reflection in Seconds (numeric)</label>
        <input asp-for="Question.DurationAnswerInSeconds" class="form-control" />
    </div>
    @if (Model.Question.HasQuestionImage)
    {
        <div>
            <img src="/Image/Question/@Model.Question.Guid" alt="">
        </div>
    }
    <div>Image is handled in the upload section</div>
    <hr />
    <h3>Recording (for Sentence Repetition and Integrated Speaking)</h3>
    <div class="ils-input-entry form-group">
        <label for="Question_RecordingText" class="control-label">Recording Text</label>
        <input asp-for="Question.RecordingText" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_DurationRecordingInSeconds" class="control-label">Duration of Recording in Seconds (numeric)</label>
        <input asp-for="Question.DurationRecordingInSeconds" class="form-control" />
    </div>
    @if (Model.Question.HasRecordingImage)
    {
        <div>
            <img src="/Image/Recording/@Model.Question.Guid" alt="">
        </div>
    }

    <div>Image is handled in the upload section</div>
    <hr />
    <h3>Interactive Reading / Basic Question Section</h3>
    <div class="ils-input-entry form-group">
        <label for="Question_InteractiveReadingAnswer" class="control-label">Interactive Reading Text / Reading Section (use multiple "*" to show where the student should enter text, "^" to show multiple choice entries, "_" to emphasize text, "~" to bold text, "[]" to indicate no break)</label>
        <textarea asp-for="Question.InteractiveReadingAnswer" class="ils-input-long form-control"></textarea>
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_InteractiveReadingOptions" class="control-label">Answer Bank (separate multiple answers by a "|" symbol)</label>
        <input asp-for="Question.InteractiveReadingOptions" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_InteractiveReadingOptionsDropDown" class="control-label">Drop Down Answers (separate multiple answers by a "|" symbol)</label>
        <input asp-for="Question.InteractiveReadingOptionsDropDown" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_InteractiveReadingOptionsAnswerKey" class="control-label">Answer Key (correct answer)</label>
        <textarea asp-for="Question.InteractiveReadingOptionsAnswerKey" class="ils-input-long form-control"></textarea>
    </div>
    @if (Model.Question.HasInteractiveReadingImage)
    {
        <div>
            <img src="/Image/InteractiveReading/@Model.Question.Guid" alt="">
        </div>
    }

    <div>Image is handled in the upload section. Time is set to 240 seconds unless overriden in the <strong>Multiple Choice and/or Reflection</strong> section.</div>
    <hr />
    <h3> Basic Question Section</h3>
    <div class="ils-input-entry form-group">
        <label for="Question_BasicQuestion1" class="control-label">Question 1</label>
        <input asp-for="Question.BasicQuestion1" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_BasicAnswers1" class="control-label">Answers 1 (separate multiple answers by a "|" symbol)</label>
        <input asp-for="Question.BasicAnswers1" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_BasicAnswerKey1" class="control-label">Answers Key 1</label>
        <input asp-for="Question.BasicAnswerKey1" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_BasicQuestion2" class="control-label">Question 2</label>
        <input asp-for="Question.BasicQuestion2" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_BasicAnswers2" class="control-label">Answers 2 (separate multiple answers by a "|" symbol)</label>
        <input asp-for="Question.BasicAnswers2" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_BasicAnswerKey2" class="control-label">Answers Key 2</label>
        <input asp-for="Question.BasicAnswerKey2" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_BasicQuestion3" class="control-label">Question 3</label>
        <input asp-for="Question.BasicQuestion3" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_BasicAnswers3" class="control-label">Answers 3 (separate multiple answers by a "|" symbol)</label>
        <input asp-for="Question.BasicAnswers3" class="ils-input-long form-control" />
    </div>
    <div class="ils-input-entry form-group">
        <label for="Question_BasicAnswerKey3" class="control-label">Answers Key 3</label>
        <input asp-for="Question.BasicAnswerKey3" class="ils-input-long form-control" />
    </div>

    <div class="ils-input-entry form-group">
        <input type="submit" value="@(Model?.Question?.Id > 0 ? "Edit" : "Create")" class="il-button" />
    </div>
</form>
<hr />
<div>
    <a href="/Admin/UploadQuestionRecording?id=@Model?.Question?.Id&testid=@Model?.Question?.TestId">Upload Recording or Image</a>
</div>
<div>
    <a href="/Admin/CreateTest?id=@Model?.Question?.TestId">Back to Edit Test</a>
</div>
<div>
    <a href="/Admin">Back to Admin Page</a>
</div>
