@page
@model TqiiLanguageTest.Pages.Admin.CreateTestUserModel

@{
    Layout = "_Admin";
    ViewData["Title"] = "Create Test User";
}

<h1>Create Test User</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="ils-input-entry form-group">
                <label asp-for="TestUser.Email" class="control-label"></label>
                <input asp-for="TestUser.Email" class="form-control" />
                <span asp-validation-for="TestUser.Email" class="text-danger"></span>
            </div>
            <div class="ils-input-entry form-group">
                <label asp-for="TestUser.OrderBy" class="control-label"></label>
                <input asp-for="TestUser.OrderBy" class="form-control" />
                <span asp-validation-for="TestUser.OrderBy" class="text-danger"></span>
            </div>
            <div class="ils-input-entry form-group">
                <label asp-for="TestUser.TestId" class="control-label"></label>
                <select asp-for="TestUser.TestId" class="form-control" asp-items="ViewBag.TestId"></select>
            </div>
            <div class="ils-input-entry form-group">
                <input type="submit" value="Create" class="il-button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Admin">Back to Admin Page</a>
</div>
