@page
@model TqiiLanguageTest.Pages.Admin.IndexModel
@{
    Layout = "_Admin";
    ViewData["Title"] = "Admin Homepage";
}
<h1>Administration Page</h1>

<p><a href="/Admin/ListLanguages">Update language options.</a></p>

<p><a href="/Admin/CreateTest">Create a new test.</a></p>

<p><a href="/Admin/ListTest">Edit an existing test.</a> This includes adding and editing questions.</p>

<p><a href="/Admin/ListLoggedInUsers">List users that have registered and have tests coming up.</a></p>

<p><a href="/Admin/CreateTestUserLanguage">Assign a user to a test.</a></p>

<p><a href="/Admin/ListTestUser">List tests assigned to testers.</a> This includes downloading raw data and assigning raters.</p>

<p><a href="/Admin/CreateRater">Create a rater.</a></p>

<p><a href="/Reviewer">Review and grade tests.</a></p>

<p><a href="/Admin/IsbeReport">Finalize test for ISBE.</a></p>

<p><a href="/testdownload/all">Download all tests.</a></p>

<p><a href="/reportdownload/isbe">Download ISBE report for completed tests.</a></p>

<p><a href="/reportdownload/detail">Download detail report for completed tests.</a></p>
