@page
@model TqiiLanguageTest.Pages.Admin.IndexModel
@{
    Layout = "_Admin";
    ViewData["Title"] = "Admin Homepage";
}
<h1>Administration Page</h1>

<p><a href="/Admin/CreateTest">Create a new test.</a></p>

<p><a href="/Admin/ListTest">Edit an existing test.</a> This includes adding and editing questions.</p>

<p><a href="/Admin/CreateTestUser">Assign an email to a test.</a></p>

<p><a href="/Admin/ListTestUser">List emails (including download and assign rater).</a></p>

<p><a href="/Admin/CreateRater">Create a rater.</a></p>

<p><a href="/Reviewer">Review and grade tests.</a></p>

<p><a href="/testdownload/all">Download all tests.</a></p>