@page
@model TqiiLanguageTest.Pages.RegistrationAdmin.IndexModel
@{
    Layout = "_Admin";
    ViewData["Title"] = "Registration Homepage";
}
<h1>Registration Homepage</h1>

<h2>Administration Functions</h2>
<ul>
    <li><a href="/Admin/ListLanguages">Update language options.</a></li>
    <li><a href="/RegistrationAdmin/Instructions">Update instructions.</a></li>
    <li><a href="/RegistrationAdmin/CohortList">Create / Edit Cohorts and Tests.</a></li>
</ul>

<h2>Reports</h2>
<ul>
    <li><a href="/RegistrationAdmin/PeopleList">List People.</a></li>
</ul>
