body {
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    max-width: 1200px;
}

.buttons {
    display: flex;
    flex: 0 1 50%;
    row-gap: 20px;
}

    .buttons .il-button {
        min-width: 200px;
        margin: 0 40px;
    }

h1 {
    margin-top: 24px;
}

.il-button.hidden, .hidden {
    display: none;
}

button[disabled].il-button, .il-formatted button[disabled].il-button:focus, .il-formatted button[disabled].il-button:hover {
    background: var(--il-gray-1);
    color: var(--il-gray-2);
    border-color: var(--il-gray-2);
}

#countdown {
    position: absolute;
    font-weight: 700;
    z-index: 10;
    left: 0;
    top: 0;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    border: 2px solid var(--il-blue);
}

    #countdown.background {
        background-color: #ffaaaa;
    }