@page
@model TqiiLanguageTest.Pages.AnswerModel
@{
}
<h1>Preparing Your Answer</h1>
<div class="hidden" id="display-after-recording">

    <p class="instruction">@Model.Answer.QuestionText</p>

    @if (Model != null && Model.Answer != null && Model.Answer.HasQuestionImage)
    {
        <div>
            <img src="/Image/Question/@Model?.Answer?.QuestionGuid" alt="">
        </div>
    }

    <div class="flexbox buttons">
        @foreach (var a in Model.Answer.ButtonAnswers)
        {
            <a class="il-button">@a</a>
        }
    </div>

    <div>
        <p id="countdown">@Model.Answer?.DurationAnswerInSeconds</p>
    </div>
</div>

<form method="post" class="hidden" id="form">
    <input id="answer" type="hidden" value="@Model.Answer?.Guid" name="answerguid">
    <input id="answertext" type="hidden" name="answertext">
    <input id="id" type="hidden" name="id">
</form>

@section Scripts {
    <script src="~/js/answer.js?cache=6" asp-append-version="true"></script>
}
