@page
@model TqiiLanguageTest.Pages.EndingModel
@{
}

<h1>Test Ended</h1>

<audio controls>
    <source src="/TestMedia/Conclusion/@Model?.Test?.Guid" type="audio/ogg">
    Your browser does not support the audio element.
</audio>

<p>@Html.Raw(Model?.Test?.Conclusion)</p>

<p><a href="@Model?.Test?.ConclusionLink" target="_blank" rel="noopener noreferrer">Answer the questionnaire</a></p>