@page
@model TqiiLanguageTest.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<h1>Help Page</h1>

<ol>
    <li><strong>How can I register?</strong>
        <br /><a href="https://sites.google.com/illinois.edu/tqii-user-guide/registration-guide?authuser=0">Please use this guide to help you register.</a>
    </li>
    <li>
        <strong>
            How can I start the practice test?
        </strong>
        <br /> <a href="https://sites.google.com/illinois.edu/tqii-user-guide/practice-test-guide">Please use this guide to help you get started.</a>
    </li>

    <li>
        <strong>
            I can’t find my TQII Language Proficiency Test after finishing the practice test.
        </strong>
        <br />

If you don’t see your TQII Language Proficiency Test on the page we directed you to, it could mean two things.
<ol>
            <li>Your test window has not started yet. If this is the case, please come back to the TQII website when it’s your test time.</li>
            <li>Your test page was not refreshed automatically. If you are sure it’s your test time already, please go back to the home page by clicking the banner, Training Qualified Interpreters (TQII) Language Test, next to the orange U of I logo. Then, you can click “Get Started” to access the TQII Language Proficiency Test. <a href="https://sites.google.com/illinois.edu/tqii-user-guide/tqii-test-guide">Please refer to this guide for visual support.</a></li>

</ol>

       
    </li>

    <li>
        <strong>
            The test is not loading, and I cannot move on from the current item. What should I do?
        </strong>
        <br />

        Our apologies for the inconvenience. If the system is stuck, please close the page and restart the test. You will not lose your progress in the test if this happens.
    </li>

    <li>
        <strong>
            I need more assistance. How can I contact you?
        </strong>
        <br />

        You can reach us at <a href="mailto:tqii-proficiency-test@education.illinois.edu">tqii-proficiency-test@education.illinois.edu</a>.
    </li>


</ol>