@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>TQII Language test</h1>

<p>Welcome to the TQII Language test. Before you take the test, please validate that your speakers and microphone is working properly.</p>
<div>
    <a href="/TestSpeaker" class="il-button" id="continue">Test your speakers and microphone</a>
</div>

<p>If you have taken this test before, you can skip the hardware validation and sample questions and start the test immediately.</p>
<div>
    <a href="/Question?id=@Model.Guid" class="il-button" id="continue">Start test</a>
</div>
