@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>TQII Language test</h1>

<p>Welcome to Training Qualified Interpreters (TQII) Language Test. The test is designed to evaluate your abilities to speak and comprehend oral and written English. The TQII Language test has three modules and all items within each module are timed. The first module is "Sentence Repetition", the second module is "Integrated Speaking", and the third module is "Interactive Reading."</p>

<p>For each module, you will see content with various topics related to Individualized Education Program (IEP) meetings. IEP meetings are parts of special education services used to lay out the special education instructions, supports, and services a student needs to thrive in school. You might also encounter some conditions that will qualify a student for an IEP. These conditions include but are not limited to ADHD (Attention-deficit/hyperactivity disorder, where the patient exhibits an ongoing pattern of inattention and/or hyperactivity-impulsivity that interferes with functioning or development), reading disability (difficulties reading individual words and can lead to problems understanding text), etc.</p>

<p>Before you start, let's make sure your device is ready for the test. Please make sure your mic and speaker are tested and to optimize your testing experience, please choose Chrome to proceed with the test. You can watch the video blow to learn how to set up your browsers.</p>

<p>Please click start to access your tests. Your progress is indicated here. A detailed introduction and walk-through of the tasks will be provided in the practice modules. And when you are ready, you may proceed to the test modules to take your test.</p>

<p>Before you take the test, please validate that your speakers and microphone is working properly.</p>
<div>
    <a onclick="window.open('/TestSpeaker', '_blank', 'popup=true'); return false;" href="#" class="il-button" id="continue">Check your speakers and microphone</a>
</div>

@if (Model.Guid == null || Model.Guid == Guid.Empty)
{
    <p>You do not have any tests available at this time.</p>

} else {
    <p>If you want to, you may skip the hardware check / sample questions and start the test immediately.</p>
    <div>
        <a onclick="window.open('/Starting?id=@Model.Guid', '_blank', 'popup=true'); return false;" href="#" class="il-button" id="start">Start test</a>
    </div>

}
