@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>TQII Language test</h1>

<p>Welcome to Training Qualified Interpreters (TQII) English Proficiency Test. The test is designed to evaluate your abilities to speak and comprehend oral and written English. As an integral component of the TQII program, achieving success in this test will affirm the strength of your language ability for becoming a qualified interpreter.</p>

<p>Before you start, let's make sure your device is ready for the test. Please make sure your mic and speaker are tested and to optimize your testing experience, please choose Chrome to proceed with the test. You can watch the video below to learn how to set up your browsers.</p>

<div style="margin: 30px auto 30px auto; max-width: 800px;">
    <div style="position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0; margin-bottom: 20px;"><iframe title="Kaltura Video Frame" id="kaltura_player_1_az1uue74" class="kmsembed" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://mediaspace.illinois.edu/embed/secure/iframe/entryId/1_az1uue74/uiConfId/26883701" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay *; fullscreen *; encrypted-media *" frameborder="0"></iframe></div>
</div>

<p>If you are ready to start, please click “get started” to view your practice and graded test.</p>

<div>
    <a onclick="window.open('/TestSpeaker', '_blank', 'popup=true'); return false;" href="#" class="il-button" id="continue">Get Started</a>
</div>