@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>TQII Language test</h1>

<p>Welcome to the TQII Language test. Before you take the test, please validate that your speakers and microphone is working properly</p>

<div>
    <a href="/TestSpeaker" class="il-button" id="continue">Test your speakers</a>
</div>