@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>TQII Language test</h1>

<p>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
</p>
<p>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
</p>


<div>
    <a href="/SpeakerTest" class="il-button" id="continue">Test your speakers</a>
</div>