@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>TQII Language test</h1>

<p>Welcome to the TQII Language test. Before you take the test, please validate that your speakers and microphone is working properly.</p>
<div>
    <a onclick="window.open('/TestSpeaker', '_blank', 'popup=true'); return false;" href="#" class="il-button" id="continue">Check your speakers and microphone</a>
</div>

@if (Model.Guid == null || Model.Guid == Guid.Empty)
{
    <p>You do not have any tests available at this time.</p>

} else {
    <p>If you want to, you may skip the hardware check / sample questions and start the test immediately.</p>
    <div>
        <a onclick="window.open('/Starting?id=@Model.Guid', '_blank', 'popup=true'); return false;" href="#" class="il-button" id="start">Start test</a>
    </div>

}
