@page
@model TqiiLanguageTest.Pages.QuestionModel
@{
}

<h1>Listen to the Recording</h1>

<p>Please listen to the clip. When it is done, it will direct you to the next page. Do not press refresh during this time, as this will prevent you from answering this question.</p>

<p>@Model.Question.IntroductionText</p>

@if (Model.Question.HasIntroductionImage)
{
    <div>
        <img src="/Image/Introduction/@Model.Question.Guid" alt="">
    </div>
}


@if (Model.Question.HasAudio)
{
    <div>
        <a id="manual_link" style="display: none;">Go to next page</a>
    </div>
}
else
{
    <p>
        No audio available. <a id="manual_link" class="il-button">Go to next page</a>
    </p>
}

<div id="question" class="hidden">@Model.Question?.Guid</div>
<div id="route" class="hidden">@Model.Question?.Route</div>


@section Scripts {
    <script src="~/js/question.js" asp-append-version="true"></script>
}
