@page
@model TqiiLanguageTest.Pages.ReadingAnswerModel
@{
}

<h1>Interactive Reading</h1>

@if (Model != null && Model.Answer != null && Model.Answer.HasInteractiveReadingImage)
{
    <div>
        <img src="/Image/InteractiveReading/@Model.Answer.Guid" alt="">
    </div>
}

@if (Model?.Answer?.ButtonInteractiveReadingOptions != null && Model?.Answer?.ButtonInteractiveReadingOptions.Count > 0)
{
    <div class="answer-bank">
        @foreach (var a in Model?.Answer?.ButtonInteractiveReadingOptions)
        {
            <span>@Html.Raw(a)</span>
        }
    </div>
}

<div id="display-after-recording">
<p class="interactive" >@Html.Raw(Model.Answer?.InteractiveReadingAnswer)</p>

<div id="question" class="hidden">@Model.Answer?.Guid</div>

@if (Model?.Answer?.ButtonInteractiveReadingOptions != null && Model?.Answer?.ButtonInteractiveReadingOptions.Count > 0)
{
    <div class="answer-bank">
        @foreach (var a in Model?.Answer?.ButtonInteractiveReadingOptions)
        {
            <span>@Html.Raw(a)</span>
        }
    </div>
}
</div>

<div class="answer-bank-space"><a class="il-button" id="continue">Continue</a></div>

<div>
    <p id="countdown">@Model?.Answer?.DurationAnswerInSeconds</p>
</div>


<form method="post" class="hidden" id="form">
    <input id="answer" type="hidden" value="@Model?.Answer?.Guid" name="answerguid">
    <input id="answertext" type="hidden" name="answertext">
    <input id="id" type="hidden" name="id">
</form>

@section Scripts {
    <script src="~/js/readinganswer.js?cache=7" asp-append-version="true"></script>
}
