@page
@model TqiiLanguageTest.Pages.RecordingErrorModel
@{
}

<h1>Recording error</h1>
<p class="instruction">An error occurred in the recording process, and your answer was not recorded properly. Please log out, log back in, and restart the test, ensuring you walk through the process to set up your speakers and microphone. If this continues to occur, contact the TQII language testers at <a href="mailto:tqii-proficiency-test@education.illinois.edu">tqii-proficiency-test@education.illinois.edu</a>. </p>


