@page
@model TqiiLanguageTest.Pages.RecordingModel
@{
}
<h1>Recording your response</h1>
<div class="hidden" id="display-after-recording">
    <p class="instruction">@Model.Answer.RecordingText</p>

    @if (Model.Answer.QuestionType != Models.QuestionEnum.IntegratedSpeaking)
    {
        <img src="/img/microphone.png" alt="Icon of microphone" />
    }

    @if (Model != null && Model.Answer != null && Model.Answer.HasRecordingImage)
    {
        <div>
            <img src="/Image/Answer/@Model?.Answer?.QuestionGuid" alt="">
        </div>
    }


    <div class="flexbox buttons">
        <a class="il-button" id="endrecording">I've finished, move to next</a>
    </div>

    <div>
        <p id="countdown">@Model.Answer?.DurationRecordingInSeconds</p>
    </div>
</div>

<form method="post" class="hidden" id="form">
    <input id="answerguid" type="hidden" value="@Model.Answer?.Guid" name="answerguid">
    <input id="file" name="file" type="file" />
    <input id="id" type="hidden" name="id">
</form>

@section Scripts {
    <script src="~/js/recording.js?cache=7" asp-append-version="true"></script>
}
