@page
@model TqiiLanguageTest.Pages.SampleAnswerModel
@{
}

<h1>Sample Answer</h1>

<p>Did you like this clip?</p>

<div class="flexbox buttons">
    <a class="il-button">Yes</a> <a class="il-button">No</a>
</div>

<div>
    <p id="countdown" class="hidden">10</p>
</div>

@section Scripts {
    <script src="~/js/sample-answer.js" asp-append-version="true"></script>
}
