@page
@model TqiiLanguageTest.Pages.SampleQuestionModel
@{
}

<h1>Sample Question</h1>

<p>Click Play to start the question. Note that once you have started the question, it will continue, and you will be timed on your answer.</p>

<div>
    <button id="play" class="il-button">Play</button>
</div>

@section Scripts {
    <script src="~/js/sample-question.js" asp-append-version="true"></script>
}
