@page
@model TqiiLanguageTest.Pages.Reviewer.IndexModel

@{
    ViewData["Title"] = "Review Tests";
}

<h1>Review Tests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID / Email
            </th>
            <th>Review</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RaterTest)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Test.UserIdentification) (@Html.DisplayFor(modelItem => item.Test.Email))
                </td>
                <td>
                    <a href="/reviewer/review?id=@item.Test.Id&raterid=@item.Id">Review</a>
                </td>
                <td>
                    <a href="/audioanswerdownload/@item.Test.Id">Download Data</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group">
    <a href="../Admin" class="il-button">Admin Area</a>
</div>

